<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:action="@{/users}" th:object="${user}" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" required>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    </br>
    <label for="surname">Surname</label>
    <input type="text" id="surname" th:field="*{surname}" required>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name error</div>
    </br>
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" required>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    </br>
    <button type="submit">create user</button>
</form>
</body>
</html>